{% extends "flask_user_layout.html" %}
{% block content %}

  
<div class="container"> <!-- Container for Movies + its information -->
    <h2>Movies</h2>
    <!--TODO Search bar-->
    {{ pagination.info }} <!-- Displaying  displaying 1 - 20 records in total 9737    -->
    {{ pagination.links }} <!-- Chossing the page -->

    {% for m, l in movies %}
        <div class="panel panel-default">
            <div class="panel-heading"><b>{{ m.title }}</b></div> <!-- Movie title -->
            <div class="panel-body">

                <!-- Movie links -->
                <p>
                    <a href="{{ l.imdb_link }}"> Visit IMDb here</a><br>
                    <a href="{{ l.tmdb_link }}">Visit TMDB here</a><br>
                <p>
                <!-- Movie genres -->
                    {% for g in m.genres %}
                        <span class="label label-default">{{ g.genre }}</span> <!-- Movie genre -->
                    {% endfor %}
                </p>
                <p>
                    <!-- Movie tags -->
                    {% set tags = db.session.query(MovieTags).filter( m.id == MovieTags.movie_id).all()%}
                    {% for t in tags %}
                            <span class="label label-primary">{{ t.tag }}</span> <!-- Movie tag -->
                    {% endfor %}
                </p>

            </div>
            
                {% set rating = db.session.query(Ratings).filter(Ratings.user_id == user, Ratings.movie_id == m.id).first()%}
                {% if rating%}
                    
                <div class="panel-footer movie-rating">You have rated {{ rating.rating|int }} Stars, thank you!</div>
                <!--TODO Reset Button-->
                <a href="#" class="card-link" data-movieid="{{ m.id }}" >Reset</a>

                {% else %}

                <div class="panel-footer movie-rating">Rate:
                    <a href="#" class="card-link" data-movieid="{{ m.id }}" rating=1 >⭐</a>
                    <a href="#" class="card-link" data-movieid="{{ m.id }}" rating=2 >⭐</a>
                    <a href="#" class="card-link" data-movieid="{{ m.id }}" rating=3 >⭐</a>
                    <a href="#" class="card-link" data-movieid="{{ m.id }}" rating=4 >⭐</a>
                    <a href="#" class="card-link" data-movieid="{{ m.id }}" rating=5 >⭐</a> Stars
                </div>

                {% endif %}	
        </div>
                
                
    {% endfor %}

    {{ pagination.links }}  <!-- Choosing the page -->

</div>


    

<script>
    function reset(event){
        event.preventDefault(); // Prevent the default anchor action

        var movieid = this.getAttribute('data-movieid');
        var elem = this;
        // Create an AJAX request
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '{{ url_for("reset") }}', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
         // Handle the response
         xhr.onload = function() {
            if (xhr.status === 200) {
                // Replace the entire div with the response
                elem.parentElement.innerHTML = xhr.responseText;
            } else {
                alert('Request failed. Returned status of ' + xhr.status);
            }
        };

        // Send the request with the movie ID and the rating
        xhr.send('movieid=' + movieid);

    }

    // Attach the event listener to each rating link
    var links = document.querySelectorAll('.movie-rating .card-link');
    for (var i = 0; i < links.length; i++) {
        links[i].addEventListener('click', reset);
    }

    // Function to handle the click event on any rating link
    function rateMovie(event) {
        event.preventDefault(); // Prevent the default anchor action

        var movieid = this.getAttribute('data-movieid');
        var rating = this.getAttribute('rating');
        var elem = this;

        // Create an AJAX request
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '{{ url_for("rate") }}', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

        // Handle the response
        xhr.onload = function() {
            if (xhr.status === 200) {
                // Replace the entire div with the response
                elem.parentElement.innerHTML = xhr.responseText;
            } else {
                alert('Request failed. Returned status of ' + xhr.status);
            }
        };

        // Send the request with the movie ID and the rating
        xhr.send('movieid=' + movieid + '&rating=' + rating);
    }

    // Attach the event listener to each rating link
    var links = document.querySelectorAll('.movie-rating .card-link');
    for (var i = 0; i < links.length; i++) {
        links[i].addEventListener('click', rateMovie);
    }
</script>

{% endblock %}